.top-banner{
    background-color: var(--primary-background-color);
}

.top-banner p{
    color: var(--secondary-text-color);
}

.for-logo-cart{
    width: 25px !important;
    height: 25px !important;
}

.for-controll-dropdown{
    /* display: none; */
    display: grid !important;
    width: 620px !important;
}

.sub-heading{
   
}

.sub-para{

}

.for-size-of-icons{
    width:  20px;
    height: 20px;
    font-weight: 900;
}