@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --primary-background-color: #f7bf77;
  --secondary-background-color: #F77724;
  --third-background-color: #424B52;
  --fourth-background-color: #C2C4C8;

  --primary-text-color: #FB9A1D;
  --secondary-text-color: #404950;
}

.bg-primary-color{
  background-color: var(--primary-background-color);
}

.bg-secondary-color{
  background-color: var(--secondary-background-color);
}

.bg-third-color{
  background-color: var(--third-background-color);
}

.bg-fourth-color{
  background-color: var(--fourth-background-color);
}

.primary-text{
  color: var(--primary-text-color);
}

.secondary-text{
  color: var(--secondary-text-color);
}